@import "tailwindcss";

*{
  font-family: var(--font-sans);
}

@theme {
  /* Brand colors */
  --color-brand-primary: #1a237e;    /* Deep Blue */
  --color-brand-secondary: #3949ab;  /* Indigo */
  --color-brand-accent: #ffb300;     /* Amber */

  /* Neutral grays */
  --color-gray-50: #f9fafb;
  --color-gray-900: #111827;

  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto mono", sans-serif;
}


@theme dark {
  --color-brand-primary: #0d1117;   /* Dark background */
  --color-brand-secondary: #161b22; /* Slightly lighter dark */
  --color-brand-accent: #ff9800;    /* Amber (darker tone) */

  --color-gray-50: #f9fafb;  /* Light text */
  --color-gray-900: #0a0a0a; /* Darker gray background */
}


@custom-variant dark (&:where(.dark, .dark *));


button{
  cursor: pointer;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}